/* {
  padding: 0;
  margin: 0;
  background: rgb(244, 241, 241);
 
}

body{
  background: rgba(0, 0,0 , 0.5);
  margin: 30px;
  min-height: 100vh;
  
  
}
#navbar{
  background: rgba(red, green, blue, alpha);
} */
*{
  margin: 0;
  padding: 0;

}
body{
  margin: 0px;
  background-color: #d8d0d0;
  font-family: sans-serif;
}
main{
  margin-top: 50px;
  height: 50%;
}
.navbar img{
  margin-left:10% ;
}
.navbar{
  background-color: #fff;
}

h1{
  text-align: center;
}
.navbar ul{
  list-style-type:none ;
  background-color: #fff;
  padding: 0px;
  color: black;
  /* margin: 10%; */
  overflow: hidden;

}
.navbar a{
  color:rgb(7, 7, 7) ;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;



}
.navbar a:hover{
  background-color: blue;

}
.navbar li{
  float: left;
}
.h3{
  color: black;
  padding: 20px;
  margin-top: 100%;
}
 div{
  width: 100px;
  height: 100px;
  margin: 25px;
  padding: 25px; 
  display:flex;
  /* background-color: #fff; */
  box-sizing: border-box;
 }
 .container{
  width: 100%;
  height: auto;

 }
.box{
width: 100px;
height: 100px;
background: linear-gradient(red,purple);
}